<footer class="mt-5 m-0 p-4">
    <div class="container-fluid" id="listaFooter">
        <div class="row">
            <div class="col-4">
                <div class="row">
                 <h5 class="text-white col-12">Resources</h5>   
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                 <h5 class="text-white col-12">Resources</h5>   
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                 <h5 class="text-white col-12">Resources</h5>   
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                 <a href="#" class="text-white col-12">About</a>
                </div>
            </div>
        </div>

    </div>
    <div class="text-center mt-5">
        <p class="text-white">Super-powered by Google &copy;2010-2024.</p>
        <p class="text-white">Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</p>
        <p class="text-white">Version 17.3.1-local+sha.c22c5c4.</p>
    </div>
</footer>