<main class="overflow-y-auto pb-3">
    <div id="titleContainer" class="d-flex align-content-center ps-4">
        <h1 class="text-white fw-light fs-4 align-self-center">EXPLORE ANGULAR RESOURCES</h1>
    </div>
    <div class="container-fluid mt-4 d-flex align-content-center flex-wrap"  id="resourceListing">
        <div class="row w-75 d-flex justify-content-evenly mx-auto">
            <button type="button" class="btn btn-primary col-3 p-3">Community</button>
            <button type="button" class="btn btn-primary col-3 p-3">Education</button>
            <button type="button" class="btn btn-primary col-3 p-3">Development</button>
        </div>
        <div class="row w-100 d-flex justify-content-evenly mx-auto mt-4 mb-0 rounded-4" id="lista">
            <h3 class="p-4 rounded-3">Community Curations</h3>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <h3 class="p-4">Podcasts</h3>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
            <a href="https://angular-builders.dev/home" class="m-0">
                <h4>Angular Builders</h4>
                <p>A collection of Angular Builders for your Angular projects</p>
            </a>
        </div>
    </div>
</main>
