
#titleContainer {
    background-color: #3792E4;
    height: 85px;
}

#resourceListing {
    padding-left: 10%;
    padding-right: 10%;
}

h3 {
    background-color: #ECEFF1;
}

#resourceListing div a {
    color: #000;
    text-decoration: none;
}

#resourceListing div a:hover {
    color: #000;
    text-decoration: none;
    border: 2px solid #3792E4;
}

#lista {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3), -5px -5px 5px 0px rgba(0,0,0,0.3);
} 